{% extends 'base.html' %}

{% block content %}
    <h1>Users Register</h1>
    <form method="POST" action="{% url 'users-register' %}" class=" || u-form">
        {% csrf_token %}
        <div class="|| u-form-row">
            <label for="username">Username :</label>
            <input id="username" name="username" type="text" class=" || u-form-input">
        </div>
        <div class="|| u-form-row">
            <label for="email">Email :</label>
            <input id="email" name="email" type="email" class=" || u-form-input">
        </div>
        <div class="|| u-form-row">
            <label for="password">Password :</label>
            <input id="password" name="password" type="password" class=" || u-form-input">
        </div>
        <div class="|| u-form-row">
            <label for="password2">Repeat password :</label>
            <input id="password2" name="password2" type="password" class=" || u-form-input">
        </div>
        <button type="submit">Submit</button>
    </form>
{% endblock %}