.c-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    &__button {
        font-size: 1.6rem;
        font-weight: 700;
        text-decoration: none;
        height: 2.6rem;
        min-width: 2.6rem;
        border-radius: 0.2rem;
        background-color: $black;
        color: $white;
    }
    &__button:hover {
        background-color: $orange;
    }
}